.mt_150 {
    align-self: center;
    margin-top: -180px;
    text-align: end;
}

.banner {
    background-image: url("/assets/Rectangle 209.png");
    padding: 50px 0px;
    margin-top: 85px;
    width: 100%;
    overflow: hidden;

}

.title {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.breadcrumb {
    font-size:17px;
    text-align: start;

}

.home {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

@media screen and (max-width: 770px) {
    .mt_150 {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .mt_150 {
        margin-top: -175px;
        text-align: end;
    }
}

@media screen and (max-width: 992px) {
    .mt_150 {
        margin-top: -125px;
        text-align: end;
    }
}