@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  padding: 0;
  margin: 0;
 text-align: justify;
  font-size: 16px;
  font-family: 'Poppins', sans-serif !important;
}

a {
  text-decoration: none;
}

p {
  font-size: 17px;
  color: #52525d;
  line-height: 1.88;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color);
  background-color: transparent !important;
}
button:focus {
  outline: 1px dotted;
  outline: 0px auto -webkit-focus-ring-color;
  border: none !important;
}
.btn-outline-success.focus, .btn-outline-success:focus {
  box-shadow: none !important;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow:none !important;
}
.ourclient_img{
  width:113px !important;
  height: 115px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  /* margin-left: 110px !important; */
 
} 
.fullwidth{
  width:100%;
}

.gctp{
  text-align: center !important;

}
.slider-csm .Home_card_hover__rnTN4 {
  padding: 10px;
}
.slider-csm h4 {
  margin: 0px;
}
.slider-csm .nextui-c-jxECYO {
  padding-top: 0px;
}
.Home_card_p__waAmR {
  padding: 10px;
}
.slider-csm img.ourclient_img {
  border-radius: 10px !important;
}
.slider-csm p {
  /* font-size: 17px; */
  /* color: #52525d; */
  line-height: 1.5 !important;
  
}
@media screen and (max-width:575px){
  .gctp_text{
    text-align: center !important;
  
  }
}
 @media screen and (min-width:576px) and (max-width:767px){
  .gctp_text{
    text-align: center !important;
  
  }
}
@media screen and (min-width:768px) and (max-width:991px){
  .gctp_text{
    
    text-align: center !important;
  
  }
}
@media screen and (min-width:992px) and (max-width:1199px){
  .gctp_text{
    
    text-align: center !important;
    
  }
}
@media screen and (min-width:1200px){
  .gctp_text{
    
    text-align: center !important;
  
  
  }
}
a{
  text-decoration: none !important;
}
/* 
@media screen and (min-width:576px) and (max-width:767px){
  .gctp_para{
  
    margin-bottom: 0px !important;
 
    margin-bottom: 0px !important;
  }
} */